---
import Paragraph from '../components/Paragraph.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import PostList from '../components/PostList.astro';

import Button from '../components/Button';
import { FaInstagram, FaTiktok } from 'react-icons/fa';
import { FaThreads } from 'react-icons/fa6';
import ListWeather from '../components/ListWeather.astro';
---

<BaseLayout>
  <Paragraph />
  <Paragraph title="mij sjop 👕" ad="shop-xl" />
  <Paragraph title="niewste niews 📰">
    <PostList skip={0} take={3} />
    <Button text="bekeik al het niews" href="/ps/1" />
  </Paragraph>
  <Paragraph title="kan je vandaag paart reide? 🏇⛅">
    <ListWeather length={3} />
    <Button text="bekeik al het weer" href="/weer" />
  </Paragraph>
  <Paragraph title="maak je eige poost 📝">
    je kan nu ook zelf een poost make. als ik de poost leuk vint zet ik op de
    webshite en meschien zeilfs op mij instagarm ❤️
    <Button text="maak je eige poost" href="/eige-poost" />
  </Paragraph>
  <Paragraph title="follo 👥">
    keik <a href="/follo">hier</a> hoe je een follo van mei kan kreige
  </Paragraph>
  <Paragraph title="kontakt 📧">
    keik <a href="/kontakt">hier</a> voor kontakt
  </Paragraph>
  <Paragraph title="tip van de dag 💡">
    als je iets weel kope in mij <a
      href="https://sjop.meidenlife.nl"
      target="_blank">sjop</a
    >, besteil same met je vriende zodat je de verzentkoste kan dele ❤️
  </Paragraph>
  <Paragraph title="mij sosjiaals 📱">
    <a
      class="flex items-center mb-2"
      href="https://www.instagram.com/meidenlife.nl/"
      target="_blank"
    >
      <FaInstagram />&nbsp;meidenlife.nl
    </a>
    <a
      class="flex items-center mb-2"
      href="https://www.tiktok.com/@meidenlife"
      target="_blank"
    >
      <FaTiktok />&nbsp;meidenlife
    </a>
    <a
      class="flex items-center mb-2"
      href="https://www.threads.com/@meidenlife.nl"
      target="_blank"
    >
      <FaThreads />&nbsp;meidenlife.nl
    </a>
    <a
      class="flex items-center mb-2"
      href="https://www.instagram.com/jongenslife/"
      target="_blank"
    >
      <FaInstagram />&nbsp;jongenslife
    </a>
    <a
      class="flex items-center mb-2"
      href="https://www.instagram.com/tanjahamster/"
      target="_blank"
    >
      <FaInstagram />&nbsp;tanjahamster
    </a>
  </Paragraph>
  <Paragraph ad="shop-img" />
</BaseLayout>
