---
import { FaArrowRight } from 'react-icons/fa';

interface Props {
  text: string;
  href: string;
}

const { text, href } = Astro.props as Props;
---

<a
  href={href}
  class="flex justify-center my-4"
  target={href.startsWith('http') ? '_blank' : '_self'}
>
  <b class="inline-flex items-center gap-1 align-middle">
    <span class="align-middle">{text}</span>
    <span class="flex items-center"><FaArrowRight /></span>
  </b>
</a>
