---
const links = {
  sjop: 'https://sjop.meidenlife.nl',
  kontakt: '/kontakt',
  privacy: '/privacy-policy',
};
---

<footer class="bg-white rounded-lg shadow-sm m-4">
  <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
    <div class="sm:flex sm:items-center sm:justify-between">
      <a
        href="/"
        class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse"
      >
        <img src="/favicon/android-chrome-192x192.png" class="h-8" />
        <span class="self-center text-2xl font-semibold whitespace-nowrap">
          meidenlife
        </span>
      </a>
      <ul
        class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0"
        style="list-style-type: none;"
      >
        {
          Object.entries(links).map(([text, href], i) => (
            <li>
              <a
                href={href}
                class={`hover:underline ${i < Object.entries(links).length - 1 ? 'me-4 md:me-6' : ''}`}
                aria-label={text}
                target={href.startsWith('http') ? '_blank' : '_self'}
              >
                {text}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
    <hr class="my-6 border-gray-200 sm:mx-auto lg:my-8" />
    <span class="block text-sm text-gray-500 sm:text-center"
      >© 2025 <a href="/" class="hover:underline">meidenlife</a></span
    >
  </div>
</footer>
