---
interface Props {
  items: {
    title: string;
    image: string;
    href: string;
  }[];
}

const { items } = Astro.props;
---

{
  items.map((item, i) => (
    <a
      href={item.href}
      class={`flex items-center space-x-6 py-2 bg-transparent ${i !== items.length - 1 ? 'border-b border-gray-200' : ''} hover:bg-gray-50 transition`}
    >
      <img
        src={item.image}
        alt={item.title}
        class="w-30 h-20 object-cover rounded"
      />
      <span class="text-xl font-semibold text-gray-800">{item.title}</span>
    </a>
  ))
}
