---
import Button from './Button';
---

<div class="my-6">
  <a href="https://sjop.meidenlife.nl" target="_blank" rel="noopener">
    <img src="/image/items.png" />
  </a>
  <Button text="bekeik de hele sjop" href="https://sjop.meidenlife.nl" />
</div>
